/********* Black Blue **********/

.form-submit-button-black_blue {
    color: #dadee5;
    text-shadow:-1px -1px 0px #000000;
    border:1px solid #000000;
    box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.44);
    background: linear-gradient(to top, #2e2e2e 0%, #030303 100%);
}

.form-submit-button-black_blue:hover , .form-submit-button-black_blue:active {
    color: #33a0ff;
    text-shadow:-1px -1px 0px #000000, 0px 0px 3px rgba(51,160,255,0.5);
    background: linear-gradient(to top, #404040 0%, #1a1a1a 100%);
}